<h1><%= @argument.topic %></h1>
<p style="font-size:x-large;font-weight:bold;">Text (484) 303-4250.</p>  
<p style="font-size:x-large;font-weight:bold;">
	<span style="color:red;"><%= @argument.textcode %> 1</span> for <%= @user1.name %> | 
	<span style="color:blue;"><%= @argument.textcode %> 2</span> for <%= @user2.name %></p>
<br />
<h4><%= link_to @user1.name, @user1 %> vs. <%= link_to @user2.name, @user2 %></h4>
<br />
<%= render "application/battle" %>

<% if (signed_in? && (@argument.contains(current_user))) %>
	<div class = "hero-unit" style="padding:15px;">
		<h3>Add to your argument</h3>
		<%= form_for @post do |f| %>
			<%= f.hidden_field :user_id, :value => current_user.id %>
			<%= f.hidden_field :argument_id, :value => @argument.id %>
			<%= f.text_field :content %>
			<br />
			<%= link_to_submit "Argue" %>
		<% end %>
	</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('form').submit(function() {
			var valuesToSubmit = $(this).serialize();
			$(this).find('.btn-primary').addClass('disabled');
			$.ajax({
				url: $(this).attr('action'),
				data: valuesToSubmit,
				type: "POST"
			}).complete(function(json) {
				$('#post_content').text("");
				$('.btn-primary').removeClass('disabled');
			});
			return false;
		});
	});
</script>

<% end %>

<script type="text/javascript">
	function fetchPostTable() {
		$.ajax({
			accepts: "text/html",
			url : "<%= @argument.id %>" + "/posts.html"
		}).success(function(html) {
			$("#post_table").html(html);

			setTimeout(fetchPostTable, 1500);
		});
	}

	function fetchFirstPosts() {
		$.ajax({
			accepts: "application/json",
			url : "<%= @argument.id %>" + "/firstposts.json"
		}).success(function(json) {
			$("#player1-text .bubbletext").text(json.u1content);
			$("#player1-text .timestamp").text(json.u1stamp);
			$("#player2-text .bubbletext").text(json.u2content);
			$("#player2-text .timestamp").text(json.u2stamp);

			setTimeout(fetchFirstPosts, 1500);
		});
	}

	function fetchHealth() {
		$.ajax({
			accepts: "application/json",
			url : "<%= @argument.id %>" + "/healthstatus.json"
		}).success(function(json) {
			newH1 = json.health1;
			newH2 = json.health2;
			process(newH1,newH2)
			setTimeout(fetchHealth, 2500);
		});
	}

	function process(h1,h2) {
		if (h1 != window.health1 && h2 != window.health2) {
			diff1 = window.health1 - h1;
			diff2 = window.health2 - h2;
			window.health1 = h1;
			window.health2 = h2;
			p1attack(diff2);
			setTimeout(p2attack(diff1), 2000);

		} else if (h1 != window.health1) {
			diff = window.health1 - h1;
			window.health1 = h1;
			p2attack(diff);
			
		} else if (h2 != window.health2) {
			diff = window.health2 - h2;			
			window.health2 = h2;
			p1attack(diff);	
		}
	}

	$(document).ready(function() {
		window.health1 = <%= @us1.health %>;
		window.health2 = <%= @us2.health %>;

		sethp1(<%= @us1.health %>);
		sethp2(<%= @us2.health %>);

		fetchPostTable();
		fetchFirstPosts();
		fetchHealth();
	});
</script>

<h3>Posts</h3>
<div id="post_table">
	<table class="table">
	<tr>
		<th><%= @user1.name %></th>
		<th><%= @user2.name %></th>
	</tr>
	<tr>
		<td style="width:400px;">
			<ul>
				<%= render @user1.desc_posts(@argument.id) %>
				<% if @user1.posts.empty? %>
					<li>No posts yet...</li>
				<% end %>
			</ul>
		</td>
		<td style="width:400px;">
			<ul>
				<%= render @user2.desc_posts(@argument.id) %>
				<% if @user2.posts.empty? %>
					<li>No posts yet...</li>
				<% end %>
			</ul>
		</td>
	</tr>
	</table>
</div>

<%= link_to 'Back to arguments', arguments_path, :class => "btn"%>
<br /><br />
