<div id="arena">
	<div class = "playerhud" id ="player1">
		<p class = "name nob" >
			<%= @user1.name %>
		</p>
		<p class = "level">
			<small>:VOT </small><span id="vote1"><%= @votecount1 %></span>
		</p>
		<div class = "health health-right" >
			<span class = "hp">
				HP:
			</span>
			<div class = "hp-bar">
				<div class ="hp-bar-fill" id ="p1-bar" style="width:60%;"></div>
			</div>
		</div>
	</div>

	<div id = "player1-img">
		<%= image_tag "charizard.png" %>
		<%= image_tag "rocks.png", :class => "rocks"  %>
	</div>

	<div id = "player1-text" >
		<div class = "bubbletext" >
			<%= @argument.last_post(1) %>
		</div>
		<div class = "timestamp" > <%= time_ago_in_words(@argument.last_post_time(1)) %> ago </div>
	</div>

	<div class = "playerhud" id ="player2">
		<p class = "name nob" >
			<%= @user2.name %>
		</p>
		<p class = "level">
			<small>:VOT </small><span id="vote2"><%= @votecount2 %></span>
		</p>
		<div class = "health health-left" >
			<span class = "hp">
				HP:
			</span>
			<div class = "hp-bar">
				<div class ="hp-bar-fill" id ="p2-bar" style="width:30%;"></div>
			</div>
		</div>
	</div>

	<div id = "player2-img">
		<%= image_tag "pikachu.png" %>
		<%= image_tag "rocks.png", :class => "rocks"  %>
	</div>

	<div id = "player2-text" >
		<div class = "bubbletext"> 
			<%= @argument.last_post(2) %>
		</div>
		<div class = "timestamp" > <%= time_ago_in_words(@argument.last_post_time(2)) %> ago </div>
	</div>

	<div id = "maintext" >
		A wild ARGUMENT appeared!
	</div>
</div>